{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="card shadow-lg p-5 col-md-6 mx-auto text-center">

        <h3 class="text-danger mb-4">
            ⚠ Delete Company
        </h3>

        <p class="fs-5">
            Are you sure you want to delete
            <b class="text-primary">{{ object.Name }}</b> ?
        </p>

        {% if object.logo %}
            <img src="{{ object.logo.url }}"
                 style="height:120px; object-fit:contain;"
                 class="my-3">
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <button class="btn btn-danger px-4">
                Yes, Delete
            </button>

            <a href="{% url 'detail' object.id %}"
               class="btn btn-secondary px-4">
                Cancel
            </a>
        </form>

    </div>

</div>

{% endblock %}
